@font-face {
    font-family: 'PhillippScript';
    src: url('PhillippScript.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Monplesir script';
    src: url('Monplesirscript.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

